@font-face {
  font-family: 'Helvetica_Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Helvetica_Regular.otf') format('otf');
}
@font-face {
  font-family: 'Helvetica_Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Helvetica_Light.otf') format('otf');
}
@font-face {
  font-family: 'PT_Sans-Web-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/PT_Sans-Web-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'PT_Sans-Web-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/PT_Sans-Web-BoldItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'PT_Sans-Web-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/PT_Sans-Web-Regular.ttf') format('ttf');
}
.PT_sans_reg {
  font-family: 'PT_Sans-Web-Regular';
  font-style: normal;
  font-weight: normal;
}
.PT_sans_bold {
  font-family: 'PT_Sans-Web-Regular';
  font-style: normal;
  font-weight: normal;
}
.PT_sans_boldit {
  font-family: 'PT_Sans-Web-Regular';
  font-style: normal;
  font-weight: normal;
}
.Helv_reg {
  font-family: 'PT_Sans-Web-Regular';
  font-style: normal;
  font-weight: normal;
}
.Helv_light {
  font-family: 'PT_Sans-Web-Regular';
  font-style: normal;
  font-weight: normal;
}
.light {
  color: #FFFFFF;
}
.orange {
  color: #D59965;
}
.light_grey {
  color: #4B4E5B;
}
.dark_grey {
  color: #191A1F;
}
.nav_modal {
  display: none;
}
