@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i&subset=cyrillic');

.PT_sans_reg {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.PT_sans_bold {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.PT_sans_boldit {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.Helv_reg {
    font-family: 'Roboto', sans-serif;
    ;
    font-style: normal;
    font-weight: 400;
}

.Helv_light {
    font-family: 'Roboto', sans-serif;
    ;
    font-style: normal;
    font-weight: 300;
}

.light {
    color: #FFFFFF;
}

.orange {
    color: #DBB266;
}

.light_grey {
    color: #4B4E5B;
}

.dark_grey {
    color: #191A1F;
}

.very_light_grey {
    color: #85899A;
}

.b_light {
    background-color: #FFFFFF;
}

.b_orange {
    background-color: #DBB266;
}

.b_light_grey {
    background-color: #4B4E5B;
}

.b_dark_grey {
    background-color: #191A1F;
}

.wrapper_navbar {
    background: #000;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    transition: 400ms;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    min-height: 70px;
    width: 80%;
    border-bottom: solid 1px #4B4E5B;
}

.navbar>a {
    .light_grey;
    width: auto;
    height: auto;
}

.navbar_img {
    width: 80px;
}

.navbar_img>img {
    width: 80px;
}

.nav_modal {
    position: fixed;
    top: -500px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
    pointer-events: none;
    height: 500px;
}

.nav_modal:target {
    pointer-events: auto;
    top: 0;
}

.nav_modal>nav {
    .b_dark_grey;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.nav_modal_logo>img {
    width: 30%;
}

.nav_list {
    padding-left: 0;
}

.nav_list>li {
    list-style: none;
    text-align: center;
    line-height: 3em;
}

.nav_list>li>a {
    .PT_sans_bold;
    .light;
    text-decoration-line: none;
    font-size: 2em;
}


body {
    margin: 0;

}

.header {
    width: 100%;
    min-height: 667px;
    background: #000000 url('../img/backheader.png') no-repeat left bottom;
    background-size: cover;
    color: #ffffff;
}

.header_taxi {
    margin: 0;
    padding-top: 24%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.header_title {
    margin: 0;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

.header_partner {
    margin: 0;
    padding: 24px 0 0 0;
    .Helv_light;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.header_telephone {
    margin: 0;
    padding: 24px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
}

.header_telephone h4 {
    margin: 0;
    padding: 0;
}

.header_btnblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 43px;
}

.Call_Btn {
    width: 205px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    justify-content: center;
    padding: 27px 34px 27px 34px;
    .b_orange;
    text-transform: uppercase;
    .light;
    transition: 100ms;
}

.Call_Btn:hover {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

// .header_btnblock>.Call_Btn{
//   transition-property:border;
// }
// .header_btnblock>.Call_Btn:hover{
//   border:0;
//   transition-duration: 1.2s;
// }
.shadow {
    border-bottom: #B88356 solid 5px;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.Active_link {
    margin-top: 30px;
    .orange;
    text-transform: uppercase;
    .Helv_light;
}

.Our_classes_avto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative;
}

.Our_classes_comfort {
    .Our_classes_avto;
}

.Our_classes_title {
    width: 100%;
    .PT_sans_bold;
    .light_grey;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

.Our_classes_busines {
    .Our_classes_avto;
}

.Our_classes_lux {
    .Our_classes_avto;
}

.Our_classes_miniven {
    .Our_classes_avto;
}

.Our_classes_vip {
    .Our_classes_avto;
}

.Our_classes_ecovip {
    .Our_classes_avto;
}

.after_item {
    content: "";
    position: absolute;
    bottom: -257px;
    width: 600px;
    height: 189.84px;
    background: rgba(219, 178, 102, 0.12);
    transform: rotate(30deg);
    z-index: 0;
}

.before_item {
    content: "";
    position: absolute;
    top: 66px;
    width: 600px;
    height: 189.84px;
    background: rgba(219, 178, 102, 0.12);
    transform: rotate(30deg);
    z-index: 0;
}

.Our_classes_comfort::after {
    .after_item;
}

.Our_classes_busines::after {
    .after_item;
}

.Our_classes_lux::after {
    .after_item;
}

.Our_classes_vip::after {
    .after_item;
}

.Our_classes_ecovip::after {
    .after_item;
}

.Our_classes_comfort::before {
    .before_item;
}

.Our_classes_busines::before {
    .before_item;
}

.Our_classes_lux::before {
    .before_item;
}

.Our_classes_vip::before {
    .before_item;
}

.Our_classes_ecovip::before {
    .before_item;
}

.Our_classes_miniven::before {
    .before_item;
}

.dark {
    .b_light_grey;
}

.lightvip {
    color: #ffffff !important;
}

.Our_classes_img {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    border-color: #ffffff;
    padding-top: 50px;
    padding-right: 40px;
    margin-right: 25%;
    z-index: 50;
    .b_orange;
}


.Our_classes_comfort_img {
    .Our_classes_img;
}

.Our_classes_comfort_img>img {
    margin: -15% 0% 0% 25%;
}

.Our_classes_text {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .very_light_grey;
}

.Our_classes_text p {
    .PT_sans_reg;
    font-size: 14px;
}

.Our_classes_busines_img {
    .Our_classes_img;
}

.Our_classes_busines_img>img {
    margin: -15% 0% 0% 25%;
}

.Our_classes_lux_img {
    .Our_classes_img;
}

.Our_classes_lux_img>img {
    margin: -15% 0% 0% 25%;
}

.Our_classes_miniven_img {
    .Our_classes_img;
}

.Our_classes_miniven_img>img {
    margin: -15% 0% 0% 25%;
}

.Our_classes_vip_img {
    .Our_classes_img;
    border: none;
}

.Our_classes_vip_img>img {
    margin: -15% 0% 0% 25%;
}

.Our_classes_ecovip_img {
    .Our_classes_img;
    border: none;
}

.Our_classes_ecovip_img>img {
    margin: -15% 0% 0% 25%;
}

.Our_servises_title {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Our_servises_title>h2 {
    .PT_sans_bold;
    .light_grey;
    font-size: 28px;
    margin-bottom: 0;
    margin-bottom: 15%;
}

.all_our_servises>img {
    margin-left: 3%;
}

.Our_servises_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_servis {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.wrapper_servis::after {
    content: "";
    position: absolute;
    background: rgba(75, 78, 91, 0.15);
    width: 100%;
    height: 263px;
    top: 75px;
    left: 0;
    z-index: -1;
}

.servis_before {
    position: absolute;
    top: -42px;
    left: 5px;
    font-size: 55px;
    .PT_sans_bold;
    .orange;
    z-index: -1;
}

.servis_inter {
    position: relative;
    transition: all ease-out 500ms;
}

.servis_inter>div {
    background-image: url(../img/distance.png);
    background-size: cover;
    min-width: 307px;
    min-height: 470px;
    padding: 15px 0 15px 0;
    z-index: 200;
    margin-bottom: 56px;
    transition: all ease-out 500ms;
}

.servis_inter>div>p:first-child {
    margin-top: 240px;
    .PT_sans_bold;
    .light;
    font-size: 20px;
    padding-left: 19px;
}

.servis_desc {
    .PT_sans_reg;
    .light;
    font-size: 14px;
    padding-left: 19px;
}

.servis_desc_more {
    .PT_sans_reg;
    .light;
    font-size: 14px;
    padding-left: 19px;
    display: none;
}

.servis_more {
    text-align: center;
    margin-top: 38px;
    transition: all ease-out 500ms;
}

.servis_more>a {
    .orange;
    background: none;
    border: none;
    .Helv_reg;
    font-size: 18px;
}

.servis_inter:target {
    width: 100%;
    height: 100%;
}

.servis_inter:target>div {
    width: 100%;
    height: 620px;
    background-position: 50% 90%;
}

.servis_inter:target>div>.servis_desc_more {
    display: block;
}

.servis_inter:target>div>p:first-child {
    margin-top: 280px;
}
.servis_inter:target>div>div {
  display: none;
}

.servis_inter::before {
    content: "01";
    .servis_before;
}

.servis_air {
    position: relative;
    transition: all ease-out 500ms;
}

.servis_air>div {
    background-image: url(../img/transfer.png);
    background-size: cover;
    width: 307px;
    height: 470px;
    padding: 15px 0 15px 0;
    z-index: 200;
    margin-bottom: 56px;
    transition: all ease-out 500ms;
}

.servis_air>div>p:first-child {
    margin-top: 240px;
    .PT_sans_bold;
    .light;
    font-size: 20px;
    padding-left: 19px;
}
.servis_air:target {
  width: 100%;
  height: 100%;
}

.servis_air:target>div {
  width: 100%;
  height: 620px;
  background-position: 50% 90%;
}

.servis_air:target>div>.servis_desc_more {
  display: block;
}

.servis_air:target>div>p:first-child {
  margin-top: 280px;
}
.servis_air:target>div>div {
display: none;
}
.servis_air::before {
    content: "02";
    .servis_before;
}

.servis_wedding {
    position: relative;
    transition: all ease-out 500ms;
}

.servis_wedding>div {
    background-image: url(../img/merri.png);
    background-size: cover;
    width: 307px;
    height: 470px;
    padding: 15px 0 15px 0;
    z-index: 200;
    margin-bottom: 56px;
    transition: all ease-out 500ms;
}

.servis_wedding>div>p:first-child {
    margin-top: 240px;
    .PT_sans_bold;
    .light;
    font-size: 20px;
    padding-left: 19px;
}

.servis_wedding>div>div:last-child {
    margin-top: 95px;
    transition: all ease-out 500ms;
}
.servis_wedding:target {
  width: 100%;
  height: 100%;
}

.servis_wedding:target>div {
  width: 100%;
  height: 620px;
  background-position: 50% 90%;
}

.servis_wedding:target>div>.servis_desc_more {
  display: block;
}

.servis_wedding:target>div>p:first-child {
  margin-top: 280px;
}
.servis_wedding:target>div>div {
display: none;
}
.servis_wedding::before {
    content: "03";
    .servis_before;
}

.servis_deliver {
    position: relative;
    transition: all ease-out 500ms;
}

.servis_deliver>div {
    background-image: url(../img/deliver.png);
    background-size: cover;
    width: 307px;
    height: 508px;
    padding: 15px 0 15px 0;
    z-index: 200;
    margin-bottom: 56px;
    transition: all ease-out 500ms;
}

.servis_deliver>div>p:first-child {
    margin-top: 240px;
    .PT_sans_bold;
    .light;
    font-size: 20px;
    padding-left: 19px;
}

.servis_deliver>div>div:last-child {
    margin-top: 95px;
    transition: all ease-out 500ms;
}
.servis_deliver:target {
  width: 100%;
  height: 100%;
}

.servis_deliver:target>div {
  width: 100%;
  height: 620px;
  background-position: 50% 90%;
}

.servis_deliver:target>div>.servis_desc_more {
  display: block;
}

.servis_deliver:target>div>p:first-child {
  margin-top: 280px;
}
.servis_deliver:target>div>div {
display: none;
}
.servis_deliver::before {
    content: "04";
    .servis_before;
}

.servis_nonalcho {
    position: relative;
    transition: all ease-out 500ms;
}

.servis_nonalcho>div {
    background-image: url(../img/nonalcho.png);
    background-size: cover;
    width: 307px;
    height: 508px;
    padding: 15px 0 15px 0;
    z-index: 200;
    margin-bottom: 56px;
    transition: all ease-out 500ms;
}

.servis_nonalcho>div>p:first-child {
    margin-top: 240px;
    .PT_sans_bold;
    .light;
    font-size: 20px;
    padding-left: 19px;
}

.servis_nonalcho>div>div:last-child {
    margin-top: 95px;
    transition: all ease-out 500ms;
}
.servis_nonalcho:target {
  width: 100%;
  height: 100%;
}

.servis_nonalcho:target>div {
  width: 100%;
  height: 620px;
  background-position: 50% 90%;
}

.servis_nonalcho:target>div>.servis_desc_more {
  display: block;
}

.servis_nonalcho:target>div>p:first-child {
  margin-top: 280px;
}
.servis_nonalcho:target>div>div {
display: none;
}
.servis_nonalcho::before {
    content: "05";
    .servis_before;
}

.Our_tarif {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .b_light_grey;
    padding-bottom: 50px;
}

.Our_tarif>h2,
h3,
a {
    width: 100%;
    text-align: center;
}

.Our_tarif>h2 {
    .PT_sans_bold;
    text-transform: uppercase;
    font-size: 24px;
}

.Our_tarif>h3 {
    .PT_sans_reg;
    font-size: 14px;
}

.trust_block {
    margin: 40px 40px 60px 40px;
}

.trust_block>h2 {
    text-align: center;
    font-size: 24px;
    .PT_sans_bold;
    margin-bottom: 0px;
}

.trust_block>h3 {
    .PT_sans_reg;
    font-size: 14px;
}

.trust_block>h4 {
    .PT_sans_reg;
    font-size: 14px;
    text-align: center;
    margin-top: 0px;
}

.footer {
    display: flex;
    min-height: 432px;
    width: 100%;
    .b_dark_grey;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-bottom: 100px;
}

.footer>div {
    padding: 30px;
}

.footer>div>h4 {
    .PT_sans_reg;
    font-size: 18px;
}

.footer>a>img {
    max-height: 50px;
}

.store_link {
    padding-top: 40px;
    .PT_sans_reg;
    font-size: 14px;
}

.store_img {
    width: 50%;
}

.store_img>img {
    max-width: 145px;
}

.footer>p {
    font-size: 18px;
    .PT_sans_reg;
    text-align: center;
    .light;
}